#inputdate {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	display: block;
	text-align: center;
	animation: fadeIn ease 4s;
	padding-top: 50px;
	padding-bottom: 50px;
}
#inputdate input {
	text-align: center;
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
}
#inputtime {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	display: block;
	text-align: center;
	animation: fadeIn ease 5s;
	padding-top: 50px;
	padding-bottom: 50px;
}
#inputtime input {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	text-align: center;
}
#submitbutton {
	padding-top: 50px;
	padding-bottom: 50px;
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	display: block;
	text-align: center;
	animation: fadeIn ease 6s;
}
#submitbutton input {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	cursor: pointer
}
.textthings {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
	text-align: center;
	color: white;
	animation: fadeIn ease 3s;
}
#allvids {
	padding-top: 100px;
	text-align: center;
	animation: fadeIn ease 7s;
}
#allvids button {
	font-size: calc(0.5rem + 3vw);
	font-family: "DIN Next";
}
#turncoat {
	position: fixed;
	opacity: 0;
	transition: opacity 0.5s ease-in-out;
}
#turncoat:hover {
	opacity: 1;
}
#submitbutton2 {
	color: white;
	text-align: center;
	animation: fadeIn ease 6s;
	font-family: "DIN Next";
}
#submitbutton2 a {
	cursor: pointer
}
.ua_logo1_mode1 {
	top: 0px;
	left: 0px;
	width: 13vw;
	position: absolute;
	transform: rotate(20deg);
	animation: fadeIn ease-in 8s, unusanim1 3s infinite;
}
@keyframes unusanim1 {
	0% {
		transform: translate(50%, -1000vh) rotate(20deg);
	}
	50% {
		transform: translate(50%, 25vh) rotate(-26deg);
	}
	100% {
		transform: translate(50%, 105vh) rotate(20deg);
	}
}

.ua_logo1_mode2 {
	top: 0px;
	left: 0px;
	width: 13vw;
	background:green
	position: absolute;
	transform: rotate(20deg);
	animation: fadeIn ease-in 8s, unusanim1-2 3s infinite;
}
@keyframes unusanim1-2 {
	0% {
		transform: translate(50%, 25vh) rotate(20deg);
	}
	50% {
		transform: translate(50%, 25vh) rotate(-26deg);
	}
	100% {
		transform: translate(50%, 25vh) rotate(20deg);
	}
}

.ua_logo1_mode3 {
	top: 0px;
	left: 0px;
	width: 13vw;
	background:red
	position: absolute;
	animation: fadeIn ease-in 8s, unusanim1-3 3s linear infinite;
}
@keyframes unusanim1-3 {
	0% {
		transform: translate(100%, 60vh) rotate(20deg);
	}
	25% {
		transform: translate(150%, 30vh) rotate(0deg)
	}
	50% {
		transform: translate(80%, 10vh) rotate(-90deg);
	}
	75% {
		transform: translate(10%, 30vh) rotate(-180deg);
	}
	100% {
		transform: translate(100%, 60vh) rotate(20deg);
	}
}

.ua_logo2_mode1 {
right:0px;
top:0px;
width: 13vw;
	position: absolute;
	animation: fadeIn ease-in 8s, unusanim2 3s infinite;
}
@keyframes unusanim2 {
	0% {
		transform: translate(-50%, -1000vh) rotate(-26deg);
	}
	50% {
		transform: translate(-50%, 50vh) rotate(20deg);
	}
	100% {
		transform: translate(-50%, 105vh) rotate(-26deg);
	}
}

.ua_logo2_mode2 {
right:0px;
top:0px;
width: 13vw;
	position: absolute;
	animation: fadeIn ease-in 8s, unusanim2-2 3s infinite;
}
@keyframes unusanim2-2 {
	0% {
		transform: translate(-50%, 50vh) rotate(-26deg);
	}
	50% {
		transform: translate(-50%, 50vh) rotate(20deg);
	}
	100% {
		transform: translate(-50%, 50vh) rotate(-26deg);
	}
}

.ua_logo2_mode3 {
right:0px;
top:0px;
width: 13vw;
	position: absolute;
	animation: fadeIn ease-in 8s, unusanim2-3 3s linear infinite;
}
@keyframes unusanim2-3 {
	0% {
		transform: translate(-100%, 60vh) rotate(-20deg);
	}
	25% {
		transform: translate(-150%, 30vh) rotate(0deg);
	}
	50% {
		transform: translate(-80%, 10vh) rotate(90deg);
	}
	75% {
		transform: translate(-10%, 30vh) rotate(180deg);
	}
	100% {
		transform: translate(-100%, 60vh) rotate(-20deg);
	}
}

#magicbutton {
	font-family: "DIN Next";
	color: white;
	opacity:0;
	transition: opacity 0.5s ease-in-out;
	cursor:pointer;
}

#magicbutton:hover {
	opacity:1;
}
::-webkit-scrollbar {
	display: none;
}

body {
	overflow: auto;
	width: 100%;
  height: 100vh;
  margin: 0;
}

#unus_logos {
	position: fixed;
  height: 100vh;
  width: 100%;
  overflow:hidden;
pointer-events: none;

}

/* body {
	overflow-y: scroll;
	scrollbar-width: none;
	/* Firefox */
	/*-ms-overflow-style: none; */
	/* Internet Explorer 10+ */
}
#titles {
	overflow: visible;
}